@import '~@owczar/spin-template/src/scss/bootstrap/variables';
@import 'src/styles/plugins/colors.scss';

.panelNoBg {
  border: 2px solid $theme-light-gray;
  background: #F1F1F1;
}

.panelBgLight {
    background-color: $gray-dark;
}

.panelBgWhite {
  background-color: transparent;
}

.panelBgGray {
  background-color: $gray-dark;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullBody {
    padding: 0;
    transition: max-height 0.2s ease-in-out;
}

.fullFooter {
    padding: 0;
}

.titleReset {
  font-size: inherit !important;
}

.noBorder {
  border: none !important;
  box-shadow: none !important;
}

.transparentFooter {
  border: none !important;
  background-color: transparent;
}
