# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/log/capistrano.log
!/node_modules/@owczar

# testing
/coverage

# production
/dist
#/build

# misc
.DS_Store
.env
config/deploy.rb
npm-debug.log*
yarn-debug.log*
yarn-error.log*
