@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.registrationPanel {
  background: $gray;
  padding: 41px;
  overflow: hidden;
  width: 100%
  p {
    color: $brand-white;
  }
  label {
    color: $brand-white;
  }
  input {
    background: $brand-white !important;
    border-radius: 4px !important;
    height: 36px;
    color: black;
  }
}

.panelHeader {
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
}

.centerCol {
  margin: 0 auto;
  float: none;
}

.topPortion{
  text-align:center;

  h5{
    font-size: 19px;
  }

  p{
    border-bottom: 1px solid #636262;
    padding-bottom: 24px;
    span {
      font-size: 11px;
    }
  }
}

.membershipSection {
  background: $gray-darker;
  text-align: center;
}

.contact {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  border-bottom: 1px solid #636262;
  margin-bottom: 10px;
  p {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  .number {
    font-size: 21px;
  }
}

.description {
  p {
    font-size: 11px;
  }
}

.bbbImg {
  margin-top: 2em !important;
  margin-bottom: 3em !important;
}

