:global {
  @import '~normalize.css/normalize';
  @import 'plugins/notifications';
  @import 'plugins/react-grid-layout';
  @import 'plugins/forms-extended.scss';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .form-control {
    border: 1px solid #444444 !important;
  }
}

.full-width {
  width: 100%;
}
